body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
	height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.TopNav_Style-0001 {
	list-style: none;
	display:flex;
	background: #f2706d;
	margin: 0;
	align-items: center;
}
.TopNav_Style-current {
	padding: 20px;
	font-size:1.5em;
	cursor: pointer;
  color: #f4e9e9;
	background: #e8433f;
	font-weight: 500;
}
.TopNav_Style-0003 {
	padding: 20px;
	font-size:1.5em;
	cursor: pointer;
	color: #f4e9e9;
}
.HomePage_Style-0001 {
	text-align: center;
	font-size:30px;
	padding-top: 40px;
}
.ItemsPage_Style-0001 {
	display: flex;
	min-height: 600px;
}
.ItemsPage_Style-0002 {
	width: 190px;
	border-right: 1px solid #ddd;
}
.ItemsPage_Style-0003 {
	padding: 30px;
}
.LeftNav_Style-0001 {
	display: flex;
  flex-direction: column;
  list-style-type: none;
	padding: 0;
}
.LeftNav_Style-active {
	line-height: 48px;
	padding: 0 25px;
	cursor: pointer;
	text-decoration: none;
	color: red;
	background: #eee;	
	font-weight: 500;	
}
.LeftNav_Style-active:hover {

}
.LeftNav_Style-0003 {
	line-height: 48px;
	padding: 0 25px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}
.LeftNav_Style-0003:hover {
	color: red;
	background: #eee;
}
.App-footer {
	text-align: center;
	border-top: thin solid #ddd;
	font-size: 14px;
}